@import url('https://fonts.googleapis.com/css2?family=Sahitya&display=swap');

.appbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #f1f4dc;
	margin: 0 0 1rem 0;
	justify-content: space-between;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.15);
}

.appbar .brand {
	font-family: 'Sahitya', serif;
	margin: 1rem 1rem 1rem 8rem;
	font-size: 1.7rem;
}

.appbar .searchBar {
	margin: 1rem 8rem 1rem 1rem;
	font-size: 1rem;
}

.appbar .searchBar > input {
	color: #000;
	background-color: #eae6e6;
	border: 0;
	border-radius: 2rem;
	padding: 0.5rem;
}

@media (max-width: 500px) {
	.appbar {
		justify-content: space-between;
	}

	.appbar .brand {
		margin: 1rem 1rem 1rem 1.4rem;
		font-size: 0.9rem;
	}

	.appbar .searchBar {
		position: absolute;
		left: 14rem;
		margin: 0 0 0 0;
		font-size: 0.9rem;
	}

	.appbar .searchBar > input {
		color: #000;
		background-color: #9b9a9a;
		border: 0;
		border-radius: 1rem;
		padding: 0.2rem 0.2rem 0.2rem 0.5rem;
		width: 80%;
	}
}
