.countryDetails {
	height: 100vh;
	background-color: #eceeee;
	display: flex;
	flex-direction: column;
}

.countryDetails .countryDetails_backButton {
	height: 80px;
	margin: 2rem 0 0 4rem;
}

.countryDetails .countryDetails_backButton p {
	display: inline;
	color: #fff;
	background-color: #292a2c;
	border-radius: 10px;
	background: linear-gradient(145deg, #252628, #2c2d2f);
	box-shadow: 5px 5px 15px #27282a, -1px -1px 5px #2b2c2e;
	padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}

.countryDetails .countryDetails_details {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.countryDetails .countryDetails_details--img > img {
	height: 15rem;
	width: 30rem;
	border-radius: 10px;
	background: linear-gradient(145deg, #d0d2d2, #f7f9f9);
	box-shadow: 18px 18px 30px #989a9a, -18px -18px 30px #ffffff;
}

.countryDetails .countryDetails_details--dat .makeBlock {
	font-weight: bold;
}

.countryDetails .countryDetails_details--data {
	padding: 3rem;
	font-size: 1.3rem;
	line-height: 2rem;
	letter-spacing: 0.3rem;
	margin: 2rem;
	border-radius: 13px;
	background: linear-gradient(145deg, #d0d2d2, #f7f9f9);
	box-shadow: 24px 24px 48px #d0d2d2, -24px -24px 48px #feffff;
	max-width: 32rem;
}

.countryDetails .countryDetails_details--data .makebig {
	font-size: 1.8rem;
	margin-bottom: 10px;
}

@media (max-width: 500px) {
	.countryDetails .countryDetails_backButton {
		height: 80px;
		margin: 2rem 0 3rem 2rem;
	}

	.countryDetails .countryDetails_details {
		flex-direction: column;
	}

	.countryDetails .countryDetails_details--img > img {
		height: 10rem;
		width: 20rem;
	}

	.countryDetails .countryDetails_details--data {
		padding: 2rem;
		font-size: 1rem;
		line-height: 2rem;
		letter-spacing: 0.2rem;
	}

	.countryDetails .countryDetails_details--data .makebig {
		font-size: 1.5rem;
	}
}
