.loaderScreen {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}


a{
	text-decoration:  none;
	color: inherit;
}

.mainGrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	background-color: #f1f4dc;
	/* background-color: #ccc5b9; */
	margin: 1.5rem 1.2rem 1.2rem 1.2rem;
	width: 20rem;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.09s;
	
}


.item > img {
	border-radius: 8px 8px 0 0;
	height: 10rem;
	width: 20rem;
}

.item > p {
	padding-top: 0.5rem;
	padding-left: 1rem;
}

.item p:last-child {
	padding-bottom: 0.5rem;
}

.item .small {
	font-size: 0.75rem;
}

.field {
	font-weight: bold;
}

.item:hover {
	transform: translate(0px, -2px) scale(1.02);
}

@media (max-width: 400px) {
	.mainGrid {
		margin: 0;
	}
	
	.item {
		margin: 1.2rem 0rem 1.2rem 0rem;
		width: 18rem;
	}

	.item > img {
		height: 8rem;
		width: 18rem;
	}
}

/* //ccc5b9,403d39,252422,eb5e28 */
